<p>Name : <%= @fullname %></p>
<p>age  : <%= @age %></p>
<p>Hobbies : <%= @hobbies %></p>
<p>Gender  :  <%= @gender %></p>
<p>Qualification : <%= @qualification %></p>

<p>
	<%= link_to "New User",  users_new_url %>
</p>